
<%- include('partials/head.ejs') %>
<script defer src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<!-- filepond -->
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" type = "text/css">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src = "/fileupload.js"></script>



<%- include('partials/header.ejs') %>

<% if(user != null){ %>
    <div class="add">
    <a href="#myModal" class="trigger-btn"  data-toggle="modal">Add Experience</a>
</div>

<% } %>

<div class="container1">
    <div class="row">
<% companies.forEach(company=>{ %>
         <div class="col-4">
            <a href="/companies/<%= company.company_name%>" target="_blank"><img class = "company_image" src="<%= company.company_image%>" alt="Avatar"></a>
    </div>
<% }) %>
</div>




</div>



<div id="myModal" class="modal fade">
<div class="modal-dialog modal-login">
<div class="modal-content">
    <div class="modal-header">              
        <h4 class="modal-title">Add Experience</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <form class="form" action="/add_experience" method="POST" >
            <label for="form-group">Name : </label>
                <input type="text" class="form-control" id = "form-group" placeholder="Enter your name" name = "name" required>
            <div class="name_error">

            </div>
           
            <label for="company">Company : </label>
            <select name="company_name" id="company" class="form-control" required>
                <% companies.forEach(company=>{ %>
                    <% const company_name = company.company_name; %>
                    <% const company_name_uppercase  = company_name.toUpperCase(); %>
                      <option value="<%= company_name%>"><%= company_name_uppercase%></option>
                <% }) %>
            
            </select>

            <!-- <label for="form-group">Topic : </label>
                <input type="text" class="form-control" id = "form-group" placeholder="Topic" name="question_topic" required>                    
             <div class="company_name_error">

            </div> -->
            <label for="image">Image : </label>
            <input type="file" id = "image" class="filepond"  name = "image" required>
          
            <label for="form-group">Experience : </label>
                <textarea type="text" class="form-control" id = "form-group" placeholder="Your Experience" name="exp" required></textarea>
          
                <br>
           <input type="submit" class="btn btn-primary btn-block btn-lg submit" value="Submit" required>
            
            
                
        </form>
    </div>
</div>
</div>
</div> 

  
<%- include('partials/footer.ejs') %>
